{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Créer une critique{% endblock %}


{% block content %}
        <div>
        <h1 class="text-center m-md-5" >Créer une critique </h1>
            <h2>Livre / article</h2>
            <form method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form_ticket %}
            <h2>Critique</h2>
                {% bootstrap_form form_review %}

                    <button  type="submit" class="btn btn-success text-end">Envoyer</button>
            </form>
        </div>




{% endblock %}
