{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Répondre à un ticket{% endblock %}

{% block content %}

{% include "flux/tickets_snippet.html" %}

<div>
    <h1 class="text-center m-md-5" >Critique </h1>
    <h2>Livre / article</h2>
    <form method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Critique</h2>
        {% bootstrap_form form_review %}
        <button  type="submit" class="btn btn-success text-end">Envoyer</button>
    </form>
</div>
{% endblock %}
