{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Entrez un nouveau mot de passe{% endblock %}

{% block content %}

{% if validlink %}
<div class="w-50">
    <h1>Saisissez un nouveau mot de passe</h1>
        <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-success" value="Changer mon mot de passe">
    </form>
</div>

{% else %}

<p>Lien de réinitialisation de mot de passe invalide, il a été probablement déjà utilisé. Recommencez la demande de réinitialisation.</p>

{% endif %}
{% endblock %}