body{
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2B4E3A, #22373C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2B4E3A, #22373C);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



h1{
        color: aliceblue;
}

h2{
        color: aliceblue;
}

label{
    color: aliceblue;
}

p{
    color: aliceblue;
}

.btn{
    margin-bottom: 2rem;
}

img {
  display: block;
  max-width:460px;
  max-height:200px;
  width: auto;
  height: auto;
  margin-right: 20px;
}

#id_rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checked {
  color: orange;
}
/**/
