{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Abonnements{% endblock %}

{% block content %}
    <div>
        <h1 class="text-center m-md-5" >Suivre d'autres utilisateurs</h1>
        <form method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form_follows %}
            {{ form_follows.media }}
            <button  type="submit" class="btn btn-success text-end">Envoyer</button>
        </form>
    </div>

    <h2 class="text-center m-md-5" >Abonnements</h2>
    <div class=" w-100" >
        <ul class="list-group">
            {% for user_follow in user_follows %}
                <li class="list-group-item d-flex justify-content-between" >{{ user_follow.followed_user }}
                    <form method="post" action={% url 'unfollows' %}>
                        <input type="hidden" name="followed_user" value="{{ user_follow.followed_user.id }}">
                        {% csrf_token %}
                        <button type="submit"
                                class="btn btn-success text-end list-group-item align-content-end">Désabonner</button>
                    </form>
                </li>
            {% endfor %}
        </ul>

    </div>
    <div>
        <h2 class="text-center m-md-5" >Abonnés</h2>
        <form method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="list-group" >{% for follower in followers %}
                <li class="list-group-item" >{{ follower.user }}</li>
            {% endfor %}
            </ul>
        </form>
    </div>
{% endblock %}


