{% extends 'base.html' %}

{% block title %}Flux{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h1>Bonjour {{ user.username }} !</h1>
  <p><a class="btn btn-success" href="{% url 'logout' %}">Se déconnecter</a></p>
  <p><a class="btn btn-success" href="{% url 'password_reset' %}">Réinitialisation du mot de passe</a></p>
{% else %}
    <div>
            <h1 class="text-center">Vous n'êtes pas connecté</h1>
            <a  class="text-center btn-success col-6 align-self-center" href="{% url 'login' %}">Se connecter</a>
    </div>
{% endif %}
{% endblock %}